{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="checkout-container">
	<div class="left-checkout">
		<div class="main-cart-section main-cart-section_0 cart-background enhanced-section">
			<div class="cart-row cart_gap2 cart-row_1-4_1-2_1-4">
				<div
				class="cart-section cart-column cart-column_1_4 cart-column_0 mix-blend-passthrough cart-column_single">
				<div
					class="enhanced_module snippet snippet_0 clickable-component  text-align-left  snippet_position_left bg-layout_light">
					<div class="snippet_content">
						<div class="main-snippet-img"><span class="image-wrap"><span
									class="scroll-trigger animation_off animation_off_tablet animation_off_phone styled-icon animated"><i
										class="fa fa-shopping-bag" aria-hidden="true"></i>
								</span></span>
						</div>
						<div class="snippet_container">
							<h4 class="enhanced_module_header"><span>Shop</span></h4>
						</div>
					</div>
				</div>
				<div
					class="enhanced_module snippet snippet_0 clickable-component  text-align-left  snippet_position_left bg-layout_light">
					<div class="snippet_content">
						<div class="main-snippet-img"><span class="image-wrap"><span
									class="scroll-trigger animation_off animation_off_tablet animation_off_phone styled-icon animated"><i
										class="fa fa-shopping-cart" ></i></span></span>
						</div>
						<div class="snippet_container">
							<h4 class="enhanced_module_header"><span>Cart</span></h4>
						</div>
					</div>
				</div>
				<div
					class="enhanced_module snippet snippet_1 clickable-component  text-align-left  snippet_position_left bg-layout_light">
					<div class="snippet_content">
						<div class="main-snippet-img"><span class="image-wrap"><span
									class="scroll-trigger animation_off animation_off_tablet animation_off_phone styled-icon animated"><i
										class="fa fa-credit-card" aria-hidden="true"></i></span></span>
						</div>
						<div class="snippet_container">
							<h4 class="enhanced_module_header"><span>Checkout</span></h4>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="center-shipping">
		<div class="box-element" id="form-wrapper">
			<!-- <form method="POST">
					{% csrf_token %}
					{{ form }}
					<button type="submit" value="submit">Submit</button>
				</form> -->
		
				<form id="form" method="POST">
					<div id="user-info">
						<div class="form-field">

							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">

							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>

					<div id="shipping-info">
						<h4>Shipping Information:</h4>
						<hr>
						<div class="form-field">

							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>

						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Country..">
						</div>
						<div class="form-field">

							<!-- <input class="form-control" type="text" name="state" placeholder="State.."> -->
							<!-- <select class="form-control" name="state" onchange="this.form.submit()" id="id_state" >
								<option selected="selected">State...</option>
								{% for stat in states %}	
								<option>{{stat}}</option>
								{% endfor %}
							</select> -->
							{% csrf_token %}
							{{ form }}
						</div>
					</div>

					<!-- <button type="submit" value="submit">Submit</button> -->
					<hr>
					<input id="form-button" class="button btn-block w-button" type="submit" value="Continue">

				</form>
			
		</div>

		<br>
		<div class="box-element hidden" id="payment-info">
			<h4>Paypal Options</h4>
			<!--<button id="make-payment">Make payment</button>-->
			<div id="paypal-button-container"></div>
		</div>
	</div>
	<div class="cart-information">
		<h4 class="d-flex justify-content-between align-items-center mb-3">
			<span class="text-muted">Your cart</span>
			<span class="badge badge-secondary badge-pill">{{order.get_cart_items}}</span>
		</h4>
		<ul class="list-group mb-3">
			{% for item in items %}
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					<!--                     <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>-->
					<h6 class="my-0">
						<p>{{item.product.name}}</p>
					</h6>
					<small class="text-muted">
						<p>Quantity: {{item.quantity}}</p>
					</small>
				</div>
				<span class="text-muted">
					<p>${{item.product.price}}</p>
				</span>

			</li>

			{% endfor %}
			<li class="list-group-item d-flex justify-content-between">
				<small class="text-muted">
					<p>Tax</p>
				</small>
				<strong>${{order.get_cart_total|floatformat:2}}</strong>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<small class="text-muted">
					<p>Shipping</p>
				</small>
				<strong>${{order.get_cart_total|floatformat:2}}</strong>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span>Total (USD)</span>
				<strong>${{order.get_cart_total|floatformat:2}}</strong>
			</li>
		</ul>
	</div>
</div>









<script
src="https://www.paypal.com/sdk/js?client-id=AaVb6b-TD7kOwTY3eN5mE-q4508Hf86CZTjIRF01DwNm8I70dOP2eNK65b1XWgbsiRjESpJE6KmKwhTn&currency=USD&disable-funding=credit"></script>

<script>
	var total = '{{order.get_cart_total}}'
	// Render the PayPal button into #paypal-button-container
	paypal.Buttons({

		style: {
			color: 'blue',
			shape: 'rect',
		},

		// Set up the transaction
		createOrder: function (data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: parseFloat(total).toFixed(2)
					}
				}]
			});
		},

		// Finalize the transaction
		onApprove: function (data, actions) {
			return actions.order.capture().then(function (details) {
				// Show a success message to the buyer
				submitFormData()
			});
		}

	}).render('#paypal-button-container');
</script>

<script type="text/javascript">
	var shipping = '{{order.shipping}}'

	if (shipping == 'False') {
		document.getElementById('shipping-info').innerHTML = ''
	}

	if (user != 'AnonymousUser') {
		document.getElementById('user-info').innerHTML = ''
	}

	if (shipping == 'False' && user != 'AnonymousUser') {
		//Hide entire form if user is logged in and shipping is false
		document.getElementById('form-wrapper').classList.add("hidden");
		//Show payment if logged in user wants to buy an item that does not require shipping
		document.getElementById('payment-info').classList.remove("hidden");
	}

	var form = document.getElementById('form')
	form.addEventListener('submit', function (e) {
		e.preventDefault()
		console.log('Form Submitted...')
		document.getElementById('form-button').classList.add("hidden");
		document.getElementById('payment-info').classList.remove("hidden");
	})

	/*
	document.getElementById('make-payment').addEventListener('click', function(e){
		submitFormData()
	})
	*/

	function submitFormData() {
		console.log('Payment button clicked')

		var userFormData = {
			'name': null,
			'email': null,
			'total': total,
		}

		var shippingInfo = {
			'address': null,
			'city': null,
			'state': null,
			'zipcode': null,
		}

		if (shipping != 'False') {
			shippingInfo.address = form.address.value
			shippingInfo.city = form.city.value
			shippingInfo.state = form.state.value
			shippingInfo.zipcode = form.zipcode.value
		}


		if (user == 'AnonymousUser') {
			userFormData.name = form.name.value
			userFormData.email = form.email.value
		}

		console.log('Shipping Info:', shippingInfo)
		console.log('User Info:', userFormData)

		var url = "/process_order/"
		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'applicaiton/json',
				'X-CSRFToken': csrftoken,
			},
			body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo }),

		})
			.then((response) => response.json())
			.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');

				cart = {}
				document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'paymentSuccessful' %}"

			})
	}
</script>


{% endblock content %}