{% extends 'store/main.html' %}
{% load static %}
{% block content %}



<div class="section contact-section wf-section">
    <div class="padding-global">
        <div class="main-container w-container">
            <div class="w-layout-grid grid-halves contact-section">
                <div id="contact-header" data-w-id="6e27007c-1ef4-8bed-d36f-74899ef7564d"
                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="left-wrap-contact-section">
                    <h1 data-w-id="6e27007c-1ef4-8bed-d36f-74899ef7564e" style="filter: blur(0px); opacity: 1;"
                        class="h3-heading">Let's talk</h1>
                    <p class="overline">We would love to answer any of your questions or concerns.
                    </p>
                    <div class="wrap-contact-links">
                        <a href="#"
                            class="link-contact w-inline-block">
                            <div class="circle-link-contact"><img
                                    src="https://assets.website-files.com/63aaee4bc90d97131cdc3dca/63b725568f94ecf1ac33fee4_mail-line.svg"
                                    loading="lazy" alt="" class="icon-contact-section"></div>
                            <div class="right-side-contact-link">
                                <div class="text-contact-heading-option">Our email</div>
                                <p class="text-contact-detail">questions@celadon.com</p>
                            </div>
                        </a>
                        <a href="#"
                            class="link-contact w-inline-block">
                            <div class="circle-link-contact"><img
                                    src="https://assets.website-files.com/63aaee4bc90d97131cdc3dca/63b7255678ab5f84fe9ee1e6_smartphone-line.svg"
                                    loading="lazy" alt="" class="icon-contact-section"></div>
                            <div class="right-side-contact-link">
                                <div class="text-contact-heading-option">Phone us</div>
                                <p class="text-contact-detail">+1 600 000</p>
                            </div>
                        </a>
                        <a href="#"
                            class="link-contact w-inline-block">
                            <div class="circle-link-contact"><img
                                    src="https://assets.website-files.com/63aaee4bc90d97131cdc3dca/63b7255681f91d1e29227075_map-pin-2-line.svg"
                                    loading="lazy" alt="" class="icon-contact-section"></div>
                            <div class="right-side-contact-link">
                                <div class="text-contact-heading-option">Find us</div>
                                <p class="text-contact-detail">Open&nbsp;Google Maps</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="contact-box" data-w-id="6e27007c-1ef4-8bed-d36f-74899ef75677"
                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="white-tile contact-tile">
                    <div class="contact-form-block w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                            data-wf-page-id="63b72048b3641ff7051664b5"
                            data-wf-element-id="6e27007c-1ef4-8bed-d36f-74899ef75679" aria-label="Email Form">
                            <div>
                                <div class="input-wrap"><label for="Name-3" class="field-label">Name</label><input
                                        type="text" class="text-field w-input" maxlength="256" name="Name-3"
                                        data-name="Name 3" placeholder="Your name" id="Name-3"></div>
                                <div class="input-wrap"><label for="Name-3" class="field-label">Name</label><input
                                        type="text" class="text-field w-input" maxlength="256" name="Name-2"
                                        data-name="Name 2" placeholder="Your name" id="Name-2"></div>
                                <div class="input-wrap"><label for="Name-3" class="field-label">Message</label><textarea
                                        placeholder="Example Text" maxlength="5000" id="field-2" name="field-2"
                                        data-name="Field 2" class="text-field text-area w-input"></textarea></div>
                            </div>
                            <input type="submit" value="Submit" data-wait="Please wait..." class="cta submit w-button">
                        </form>
                        <div class="w-form-done" tabindex="-1" role="region" aria-label="Email Form success">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail" tabindex="-1" role="region" aria-label="Email Form failure">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section_faq-vertical">
    <div class="padding-global">
        <div class="container-medium">
            <div class="padding-section-large">
                <div class="main-container w-container">
                    <h1 data-w-id="6e27007c-1ef4-8bed-d36f-74899ef7564e" style="filter: blur(0px); opacity: 1;"
                        class="h3-heading">Frequently Asked Questions</h1>
                    <div class="padding-bottom padding-xlarge"></div>
                    <div data-w-id="1dd22545-251b-a1ab-4e91-f12ef7760cb5"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        class="faq-vertical_container">
                        <div class="faq-vertical_item">
                            <div class="faq_question">
                                <div class="text-weight-bold text-size-medium">How do I return an item?</div>
                                <div class="faq_icon-expander">
                                    <div class="faq_explander-vertical"
                                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    </div>
                                    <div class="faq_explander-horizontal"></div>
                                </div>
                            </div>
                            <div class="faq_answer" style="height: 0px; display: none;">
                                <div class="padding-bottom padding-small"></div>
                                <p class="text-custom-gray"></p>
                            </div>
                        </div>
                        <div class="faq-vertical_item">
                            <div class="faq_question">
                                <div class="text-weight-bold text-size-medium">How do I access the information on a product?</div>
                                <div class="faq_icon-expander">
                                    <div class="faq_explander-vertical"
                                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    </div>
                                    <div class="faq_explander-horizontal"></div>
                                </div>
                            </div>
                            <div class="faq_answer" style="height: 0px; display: none;">
                                <div class="padding-bottom padding-small"></div>
                                <p class="text-custom-gray"></p>
                            </div>
                        </div>
                 
                    </div>
                    <div class="padding-bottom padding-xlarge"></div>
                    <p class="text-align-center">Have more questions? Reach out to our friendly support team, and we'll
                        be
                        happy to assist you.</p>
                </div>

            </div>
        </div>
    </div>
</section>




<!--<div class="container">-->
<!--    <div class="login_container">-->

<!--        <h2>Contact Us</h2>-->
<!--        <p> Please leave us a message ! </p>-->
<!--        <div class="row">-->
<!--            <div class="column center">-->
<!--                <img src="{% static 'images/contactus.jpg'%}" style="width:50%">-->

<!--            </div>-->
<!--            <div class="container">-->
<!--                <form>-->
<!--                    <label for ='fname'>First Name</label>-->
<!--                    <input type="text" id ="fname" name ="firstname" placeholder="Your name..">-->
<!--                    <input type="text" id ="lname" name ="lastname" placeholder="Your last name..">-->

<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% endblock content %}